# Ignore virtual environment directory
.venv/

# Ignore docs directory
docs/

# Ignore config.json file
config.json

# Ignore contents of results directory but keep the directory itself
results/*
!results/README.md