# Ignore virtual environment directory
.venv/

# Ignore docs directory
docs/

# Ignore config.json file and .env file in the process directory
config.json
process/.env

# Ignore contents of results directory but keep the directory itself
results/*
!results/README.md

# Ignore Python cache files
__pycache__/

# Ignore Notion sample DB
/notion/database_sample

# supabase cli
supabase/.temp/cli-latest
supabase/.branches/_current_branch

# claude code settings
.claude/
